.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center; // centered vertically along the cross axis

  @media only screen and (max-width: $bp-tiny) {
    overflow: hidden;
  }
}

.content {
  display: flex;
  background-color: #fff;
  //align-items: strech --> default
  @media only screen and (max-width: $bp-largest) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%; // flex grow flex shrink percentage

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-review {
  // grow as much as space available
  flex: 1;
}

////////////////
//side-navigation

.side-nav {
  font-size: 1.3rem;
  list-style: none;
  margin-top: 3.5rem;
  color: var(--grey-light-1);

  @media only screen and (max-width: $bp-largest) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    @media only screen and (max-width: $bp-largest) {
      flex: 1;
    }
  }

  &__item::before {
    // always put the content otherwise it will not show in browser
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s,
      width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s background-color 0.1;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__active {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    color: var(--grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: block;
    position: relative; // Z-index will work only if position is relative;
    z-index: 5;
    display: flex;
    align-items: center;
    @media only screen and (max-width: $bp-small) {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

//////////////////
///////Legal

.legal {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $bp-largest) {
    display: none;
  }
}

//////////////
////////Gallery

.gallery {
  display: flex;

  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }

  // In responsive design we always want flexible images. We always have to define the width and height in percentages.
  &__photo {
    width: 100%; // occupying 100% percent of the available width , if no display: flex: then each image will occupy 100%;
    height: 100%;
  }
}

.overview {
  display: flex;
  border-bottom: 3px solid var(--grey-light-2);
  align-items: center;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }

  &__stars {
    margin-right: auto; // will take up only needed space
    @media only screen and (max-width: $bp-smallest) {
      margin-right: 6.2rem;
    }
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
    @media only screen and (max-width: $bp-smallest) {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__location {
    display: flex;
    vertical-align: center;
    font-size: 1.2rem;
    @media only screen and (max-width: $bp-smallest) {
      font-size: 0.8rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-right: 1.2rem;
    }
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest) {
      margin-left: 0;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 0 0.6rem;
      margin-left: 0;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

////////////////
//////Button inline

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  transform: all 0.2s;
  background-color: transparent;

  &:hover {
    color: var(--color-grey-light-4);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2s);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.hotel {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-light-2);
  font-size: 1.4rem;
  line-height: 2.2rem;
  word-spacing: 0.2rem;
  padding: 3.2rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-tiny) {
    padding-right: 1.2rem;
  }

  &__borderline {
    border-top: 2px solid var(--grey-light-4);
    width: 90%;
    margin: 0 auto;
  }

  &__description {
    flex: 0 0 60%;
    height: 100%;
    box-sizing: border-box;
    margin-right: 3.2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin-right: 2.8rem;
    }
  }

  &__about {
    padding: 2.4rem 2.4rem;
  }

  &__features {
  }

  &__users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem;
  }

  &__users__images {
    border-radius: 50%;
    width: 5.2rem;
    height: 5.2rem;
    margin-left: -2.2rem;
    @media only screen and (max-width: $bp-largest) {
      width: 4.2rem;
      height: 4.2rem;
      margin-left: -2rem;
    }
  }

  &__review {
    flex: 1; // same as width: 100% grow with all the avilable space.
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin-right: 2.8rem;
    }
    @media only screen and (max-width: $bp-small) {
      padding: 0;
      margin-top: 2rem;
    }
  }
  &__usertext {
    z-index: 10;
    position: relative;
  }

  &__user1_review {
    font-size: 1.4rem;
    line-height: 2.2rem;
    word-spacing: 0.2rem;
    color: var(--grey-dark-1);
    position: relative;

    &::before {
      content: "\201C";
      position: absolute;
      top: 3.4rem;
      left: -4rem;
      color: var(--grey-light-2);
      font-size: 20rem;
      font-family: sans-serif;
      z-index: 1;
      // z-index will work only if position i
    }
  }

  &__review_list {
    margin-bottom: 2.4rem;
    background-color: #fff;
    padding: 3.4rem;
  }

  &__showall {
    cursor: pointer;
    align-self: center;
    margin-top: 2.2rem;
    font-size: 1.2rem;

    @media only screen and (max-width: $bp-small) {
      margin: 0;
    }
  }

  &__review-rating {
    color: var(--color-primary);
    font-size: 2.8rem;
  }

  &__showall_link {
    color: var(--color-primary);
    font-size: 1.6rem;
    line-height: 1.7rem;
  }

  &__user1_rating {
    display: flex;
    margin-top: 1.2rem;
  }

  &__user-image {
    border-radius: 50%;
    height: 5.2rem;
    width: 5.2rem;
  }
  &__user1_name {
    margin-right: auto;
    margin-left: 1.2rem;
  }
  &__username {
    font-size: 1.2rem;
    line-height: 2.2rem;
    word-spacing: 0.2rem;
    font-weight: 400px;
  }

  &__reviewdate {
    color: var(--grey-dark-1);
    font-size: 1rem;
    line-height: 2.2rem;
    word-spacing: 0.2rem;
    font-weight: 400px;
  }
}

.hotelcontainer {
  &__featureslist {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3.2rem;
    border-top: var(--line);
    border-bottom: var(--line);
    padding: 2.2rem;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      padding: 2.2rem 1.2rem;
    }
  }

  &__features {
    list-style: none;
    flex: 0 0 50%;
  }
  &__features::before {
    content: "";
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: -2.7rem;

    @media only screen and (max-width: $bp-medium) {
      margin-right: -1.7rem;
    }

    //Older Browser
    //background-image: url(../img/chevron-thin-right.svg);
    //background-size: cover;

    //Newer Browser
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
  }
}

////// Call to action

.cta {
  background-color: #fff;
  text-align: center;
  padding: 3.4rem 0;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  &__title {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--grey-dark-1);
    margin-bottom: 2.5rem;
  }

  &__booknow {
    border: 2px solid orange;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );

    color: #fff;
    position: relative;
    overflow: hidden;

    &:hover {
      background-image: linear-gradient(
        to left,
        var(--color-primary-light),
        var(--color-primary-dark)
      );
    }
  }

  &__booknow_invisible {
    display: inline-block;
    position: absolute;
    padding: 2rem;
    top: -100%;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &__booknow_visible {
    display: inline-block;
    padding: 2rem 7.5rem;
    transition: all 0.2s;
  }

  &:hover &__booknow_visible {
    transform: translateY(100%);
  }

  &:hover &__booknow_invisible {
    top: 0;
  }

  &:focus {
    animate: pulsate 1s infinite;
  }
}
